@charset "UTF-8";

.question--title {
  clear: left;
}

.q1box {
  width: 400px;
  height: 400px;
  background: #ff0000;
  margin: 0 auto;
}

.q2box {
  width: 300px;
  height: 300px;
  background: #ff0000;
  margin: 0 auto;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.q3box {
  width: 300px;
  height: 300px;
}

.bluebox {
  background: #0008ff;
  margin-right: 150px;
}

.greenbox {
  background: #22ff00;
}

.floatbox {
  width: 600px;
  margin: 0 auto;
}

.q4box {
  width: 300px;
  height: 300px;
}

.redbox {
  background: #ff0000;
  float:left;
}

.blue2box {
  background: #0008ff;
  float:left;
}

.clearfix::after {
  content:'';
  display: block; 
  clear:both;
}

.textbox {
  display: flex;
  justify-content: center;
  flex-direction:row
}

.q5box {
  width: 300px;
  height: 300px;
  line-height: 300px;
  text-align: center;
}

.abox {
  background: #ff0000;
}

.bbox {
  background: #0008ff;
}

.cbox {
  background: #ff8400;
}

.text2box {
  display: flex;
  justify-content: center;
}

.a2box {
  background: #00ff51;
  order: 1;
}

.b2box {
  background: #d4ff00;
  order: 2;
}

.c2box {
  background: #ff00e1;
  order: 3;
}

.a3box {
  background: #ff0000;
  display: block;
}

.b3box {
  background: #00ff51;
}

.c3box {
  background: #0008ff;
  display: none;
}

@media screen and (max-width: 960px){
  .q1box {
    width: 200px;
    height: 200px;
  }
  .q2box {
    background: #007bff;
  }
  .bluebox {
    margin-right: 50px;
  }
  .redbox {
    float: none;
  }
  .blue2box {
    float: none;
  }
  .textbox {
    flex-direction: row-reverse;
  }
  .a2box {
    order: 2;
  }
  .b2box {
    order: 3;
  }
  .c2box {
    order: 1;
  }
  .a3box {
    display: none;
  }
  .c3box {
    display: block;
  } 
}
